name: Release

on:
  workflow_dispatch:
    inputs:
      release_type:
        type: choice
        description: "Specify what type of release to perform."
        options:
          - patch
          - minor
          - major
        default: patch
      dry_run:
        type: boolean
        default: false
      verbose:
        type: boolean
        default: false

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  release:
    name: Release packages in monorepo
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      NPM_CONFIG_PROVENANCE: true

    steps:
      - name: Log inputs
        run: |
          echo "release_type=${{ inputs.release_type }}"
          echo "dry_run=${{ inputs.dry_run }}"